.container {
  background: #f0f9ec;
  color: #143913;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin: 0.5rem;
}
.container:hover {
  outline: 1px solid #000;
}

.containerTitle {
  display: flex;
  align-items: center;
}
.flexTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
.flexTitle span {
  font-size: 0.7rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title {
  font-size: 1.2rem;
  padding: 0 1rem;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  color: #6eb83d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.iconMobile {
  display: none;
  font-size: 1.5rem;
  margin: 0 1rem;
}

/* -------------------- responsive */

@media (max-width: 910px) {
  .flexTitle span {
    font-size: 0.9rem;
  }
  .title {
    font-size: 1rem;
  }
  .containerInfo {
    font-size: 0.9rem;
  }
  .button {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .flexTitle span {
    font-size: 0.6rem;
  }
  .title {
    font-size: 0.8rem;
  }
  .containerInfo {
    font-size: 0.8rem;
  }
  .button {
    display: none;
  }
  .iconMobile {
    display: block;
  }
}
