.container {
  min-height: 75vh;
}

.containerTitle h4 {
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
}

.containerInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.containerInfo h3 {
  text-align: center;
  padding: 1rem 0;
  grid-column: span 2;
}
.containerInfo p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #6eb83d;
  color: #f0f9ec;
  margin: 1rem 0;
  padding: 5px 10px;
  border-radius: 20px;
}

/* --------------------responsive */

@media (max-width: 750px) {
  .containerTitle h4 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .container {
    min-height: 70vh;
  }
  .containerTitle h4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .containerInfo p {
    grid-column: span 2;
  }
}
