.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.input {
  height: 2rem;
  border: none;
  outline: none;
  padding: 0 5px;
  background: #f0f9ec;
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.reload {
  height: 2rem;
  display: flex;
  align-items: center;
}
.reloadIcon,
.rotate {
  color: #f0f9ec;
  font-size: 1.5rem;
  margin: 0 10px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.reloadIcon:hover {
  transform: rotate(180deg);
}

@keyframes rotar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rotate {
  /* animation-name: rotar;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  animation-iteration-count: infinite; */
  animation: rotar linear 0.5s infinite;
}

/* ---------------responsive */
@media (max-width: 600px) {
  .input {
    height: 1.5rem;
  }
}
