.containerTitle {
  text-align: center;
  padding: 1rem 0;
}

.containerIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.icon {
  font-size: 2rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
