.container {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.noSearches {
  padding: 5px 0;
  margin: 10px 0;
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    min-height: 60vh;
  }
}
