.container {
  min-height: 75vh;
  margin: 0 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
}

.noSearches {
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin: 10px 0;
  text-align: center;
}
.noSearchesIcon {
  margin: 0 10px;
}

/* --------------- responsive */
@media (max-width: 910px) {
  .container {
    /* grid-template-columns: repeat(1, 1fr); */
    display: block;
  }
}

@media (max-width: 600px) {
  .container {
    min-height: 60vh;
  }
}
